//color
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-darker: #28b485;

$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-grey: #777;
$color-black: #000;

//font
$font-size-small: 3rem;
$font-size-medium: 3rem;
$font-size-large: 6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
