.header {
  background-image: linear-gradient(to bottom right,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-darker, 0.8)
  ),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  padding: 10vh;
  position: relative;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 80%);


  &__logo-box{
    position: absolute;
    top: 5vh;
    left: 2vw ;
  }

  &__logo{
    height: 8vh;
  }

  &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
