.heading-primary {
  color: $color-white;

  &--main{
    display: block;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 1.7;
    letter-spacing: 4rem;
    animation: moveInLeft 1.5s;
  }

  &--sub{
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    font-weight: 700;
    animation: moveInRight 1.5s;
  }
}

.heading-secondary {
  font-size: $font-size-medium;
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-weight: 900;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-darker);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewX(10deg) skewY(1deg) scale(1.2);
    text-shadow: 2rem 2rem 2rem rgba($color-black, 0.5);

  }
}

.heading-tertiary {
  font-size: 1.4rem;
  color: $color-grey;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.paragraph{
  &:not(:last-child){
    margin-bottom: 4rem;
  }
}
